
body {
background-color: #8a7faf
  
}

#header {
display: flex;
justify-content: center;
padding: 10px;
margin: 2px;
border-radius: 10px;
border: 2px solid #2c7481;
background-color: white;
font-weight: bold;
}


#title h1 {
color: #60acaf;
}
