
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
background-color: #e6ffff;
font-family: 'DM Sans', sans-serif; 
}

#header {
display: flex;
justify-content: left;
padding: 20px 0px 20px 10px;
margin: 2px;
border-radius: 10px;
border: 2px solid #2c7481;
background-color: white;
font-family: 'DM Sans', sans-serif;
}


#title h1 {
color: #60acaf;
}


#Content-Container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
background-color: white;
padding: 5px;
width: 70%;
margin-top: 30px;
border: 2px solid #2c7481;
}

#Content-Container p {
margin: 10px 5px 10px 5px;
}
